<div class="container">
	<div class="col-md-8">
		<div class="jumbotron">
			<h2>Contact</h2>
			<p class="roomy">If you would like to see the source
			code for this or any of my other projects, check out
			<a href="https://github.com/SilverFox70">SilverFox</a>
			on GitHub.</p>
		</div>
	</div>
</div><!-- /.container -->