<% if admin_user_signed_in? %>
	<h1>Editing Post</h1>

	<%= render 'form' %>
<% else %>

	<p class="forbidden">You are not authorized to view this page. <p>

<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
